DB_NAME=url_shortener
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_PORT=5432
JWT_SECRET=my-default-secret-key-my-default-secret-key
TESTCONTAINERS_DOCKER_SOCKET_OVERRIDE=/var/run/docker.sock
APP_BASE_URL=http://localhost:8080